@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.search__bar{
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  background-color: #1e2222;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  display: none;
  border-bottom: 2px solid #888888;
  animation: growDown 500ms ease forwards;
  transform-origin: top;
}

.search__bar .search__box{
  width: 90%;
  height: 72px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1e2222;
  font-size: 40px;
  margin: 0px 10px 0px 10px;
  border: none;
  outline: none;
}
.search__box{
  color: #888888;
}

.search__close{
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10%;
  height: 50%;
  cursor: pointer;
}
@keyframes growDown{
  from{
    transform: scaleY(0);
  }
  to{
    transform: scaleY(1);
  }
}

.autocomplete{
  display: none;
  background-color: #1e2222;
  position: fixed;
  top: 72px;
  width: 100%;
  height: auto;
  overflow: hidden;
  left: 0;
  z-index: 99;
}

.autocompleteli{
  right: 20px;
  position: relative;
  list-style: none;
  margin: auto;
  font-size: 25px;
  color: white;
  padding: 10px;
  padding-bottom: 2px;
}

.autocompleteli:focus {
  outline: white solid 1px;
}
.autocomplete ul li:hover{
  cursor: pointer;
  background-color: #b4b4b8;
}

nav{
  left: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #242526;
  height: 100px;
  display: flex;
  height: 72px;
  top: 0;
}

nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 40px;
  margin: auto;
  width: 100%;
  display: flex;
}
.logo{
  padding-top: 12px;
  cursor: pointer;
}
.wrapper .logo img{
  width: 150px;
  height: 50px;
}
.wrapper .nav-links{
  display: inline-flex;
  padding-left: 30px;
  padding-top: 2px;
  width: 60%;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: lightgray;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* .navlink::after{
  bottom: 9px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: linear-gradient(102.57deg,#dc0916,#f41fd6 100%,#f41fd6 );
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navlink:hover::after{ 
    width: 30%; 
    left: 35%; 
} */

.right-angle{
  width: 240px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 15px;
}
.multi-hover .right-angle p{
  position: relativ;
  bottom: 50%;
}

.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  left: 0;
  height: 81vh;
  background: #242526;
  width: 100%;
  line-height: 45px;
  top: 85px; 
  transform: translateY(-5%);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu{
  transform: translateY(0);
  /* transition: all 0.3s ease; */
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.under-line{
    height: 1px;
    background: linear-gradient(102.57deg,#dc0916,#f41fd6 100%,#f41fd6 0);
    width: 0;
    position: relative;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    opacity: 0;
    left: 50%;
}
.wrapper .nav-links li:hover .under-line{
  left: 34%;
  opacity: 1;
  width: 30%;
  visibility: visible;
}

.drop-menu-left{
  width: 40%;
}
.drop-down-list{
  color: lightgray;
  position: relative;
  left: 25px;
  top: 30px;
}

.drop-down-list li{
  padding-bottom: 15px;
border-bottom: 2px solid lightgray;
width: 240px;
font-size: 15px;
height: 43px;
}
.fa-solid{
  position: relative;
  top: 10px;
}

.drop-down-list li:hover{
  background: #3A3B3C;
  color: white;
  cursor: pointer;
}

.active{
  background: #3A3B3C;
}

.drop-menu-right{
  width: 155%;
  position: absolute;
  left: 446px;
  top: 0px;
  /* opacity: 0;
  /* visibility: hidden;  */
}
.multi-hover{
  padding-top: 10px;
  width: 100px;
  height: 70px;
}
.multi-hover-padding{
  padding-bottom: 0 !important;
  padding-top: 24px !important;

}

.multi-hover:hover .drop-menu-right{
  visibility: visible;
  opacity: 1;
}

.info{
  width: 55%;
}
.right-heading{
  font-size: 25px;
  color: rgb(232, 226, 226);
}
.right-info{
  font-size: 15px;
color: lightgray;
padding-top: 15px;
}
.join-us-btn{
  position: relative;
  border: 1px solid lightgray;
  display: inline-block;
  top: 45px;
  border-radius: 30px;
  font-size: 30px;
  padding: 2px;
}

.second-hover {
  width: 100%;
  background-color: #242526;
}
.second-hover li {
  font-size: 15px;
  padding-right: 20px;
  border: none;
}

.multi-hover:hover .multi-hover-container{
  opacity: 1;
  visibility: visible;
}
.multi-hover-container{
  display: flex;
  height: 49vh;
  position: absolute;
  width: 100%;
  left: 370px;
  top: 0px;
  opacity: 0;
  visibility: hidden;
}

.view-btn:hover{
  text-decoration: underline;
  cursor: pointer;
}
.join{
  color: lightgray;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
}

.join-us-btn:hover .join{
  cursor: pointer;
  text-decoration: underline;
}

.leader-heading{
  position: absolute;
  top: -30px;
}


.right-nav-links{
  position: relative;
  display: flex;
  padding-top: 2px;
  display: flex;
  padding: auto;
}
.right-nav-links .contact{
  min-width: 125px;
}

.right-nav-links .world{
  min-width: 151px;

}

.right-nav-links li{
  list-style: none;
}
.right-nav-links li a{
  color: lightgray;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.right-nav-links li a:hover{
  text-decoration: underline;
}

.buttons{
  display: flex;
  left: 25px;
  position: relative;
}
.right-logo{
  cursor: pointer;
  /* padding-right: 5px; */
}
.question-logo{
  position: relative;
  cursor: pointer;
right: 14px;
top: 24px;
/* padding : 0px 10px; */
}

.right-logo{
  position: relative;
  /* left: 20px; */
/* right: 20px; */
top: 4px;
}


.drop-menu li a{
  background-color: #1e2222;
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}


.wrapper .btn{
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  display: none;
  top: 10px;
}
.ham-burger1 , .ham-burger3{
  z-index: 1000;
  margin-top: 10px;
  width: 30px;
  height: 2px;
  background: linear-gradient(102.57deg,#dc0916,#f41fd6 100%,#f41fd6 );
  transition: 0.4s ease-in-out;
}

.ham-burger2{
  margin-top: 8px;
  width: 20px;
  height: 2px;
  background: linear-gradient(102.57deg,#dc0916,#f41fd6 100%,#f41fd6 );
  transition: 0.4s ease-in-out;
}

.ham-burger-change .ham-burger1{
  transform: translate(0,11px) rotate(-45deg);
}

.ham-burger-change .ham-burger3{
  transform: translate(0,-11px) rotate(45deg);
}

.ham-burger-change .ham-burger2{
  opacity: 0;
}


@media screen and (max-width: 1200px) {
  .wrapper .btn{
    display: block;
  }
  .logo{
    position: fixed;
    display: flex;
    align-items: center;
    right: 45%;
    padding-right: 2px;
    border-right: 2px solid #f2f2f2 ;
  }

  .right-logo img{
    padding-left: 10px;
    position: fixed;
    right: 35%;
    top: 8px;
  }

  .question-logo{
    display: block;
    position: fixed;
    right: 5%;
    top: 2%;
  }
  .menu-btn{
  position: fixed;
  top: 2%;
  }

  .wrapper .nav-links{
    display: none;
    /* position: fixed;
    height: 100vh;
    width: 350px;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease; */
  }

  .right-nav-links{
    display: none;
  }
  .under-line{
    display: none;
  }

  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links:hover .drop-menu{
    display: none;
  }

  .nav-links .navlink:hover{
    background: #3A3B3C;
  }
  /* .navlink:hover::after{
    display: none;
  } */

  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .info-column .desc{
    display: none;
  }
  .info-column .title{
  font-size: 18px !important;
  top: 10px;
  position: absolute;
  }
  .info-column .tag{
  font-size: 18px !important;
  top: 10px;
  position: relative;
  }
  .photo-column {
    position: relative;
    left: 3%;
    min-width: 20%;
  }
  .picture{
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    width: 80%;
    overflow: hidden;
  }

}

@media screen and (max-width: 1000px){
  .picture{
    flex-direction: row-reverse;
    position: relative;
    /* right: 5%; */
    width: 100% !important;

  }
  .photo-column{
    width: 35% !important;
    
  }
  .photo-column img{
    height: 10pc !important;
    width: 100% !important;
  }
  .info-column{
    width: 65% !important;
  }
  .info-column .title , .info-column .tag{
    font-size: 0.8rem !important;
}

.tcs__home ul li{
  width: 30px !important;
  font-size: 10px !important;
  margin-right: 10px !important;
}
}
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
  z-index: -99;
}


@media screen and (max-width: 600px) {
  .tcs__home ul{
    /* width: 100%; */
    left: 0px !important;
  padding-left: 110px;
  }
  .logo{
      position: fixed;
      left: 10px;
      border: none;
  }
  .question-logo{
    position: fixed;
    right: 15%;
    top: 3%;
  }

  .menu-btn{
    position: fixed;
    right: 3%;
  }
  /* .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100% ;
    max-width: 350px;
    top: 0;
    left: 100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  } */
  ul.menu {
    overflow-y: scroll;
    background-color: #242526;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100% !important;
    font-family: "Century Gothic";
    box-shadow: 0px 0px 25px #00000070;
    clear: both;
    display: table;
    height: 100vh;
    padding-top: 150px;
  }
  .picture{
    position: relative;
    right: 10%;
  }
  .photo-column{
    width: 35% !important;
  }
  .photo-column img{
    height: 10pc !important;
    width: 100% !important;
  }
  .info-column{
    width: 58% !important;
  }
  .info-column .title , .info-column .tag{
    font-size: 0.8rem !important;
}
.tcs__home ul li{
  width: 10px !important;
  margin-right: 10px !important;
}
}



.contact-us{
  list-style: none;
  font-size: 20px;
  color: lightgray;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 45px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.contact-us:hover{
  cursor: pointer;
  text-decoration: underline;
}

.accordion-menu{
  top: 70px;
  z-index: 99;
  position: fixed;
  left: 0;
  display: none;
}
ul.menu {
  overflow-y: scroll;
  background-color: #242526;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 350px;
  font-family: "Century Gothic";
  box-shadow: 0px 0px 25px #00000070;
  clear: both;
  display: table;
  height: 100vh;
}


ul.menu .list {
overflow: scroll;
font-size: 25px;
border-bottom: 1px solid #324252;
position: relative;
width: 100%;
box-sizing: border-box;
/* height: 50px; */
vertical-align: sub;
background: #242526;
clear: both;
}
ul.menu .list:after {
content: "";
font-family: FontAwesome;
position: absolute;
right: 17px;
top: 17px;
padding: 0px 5px;
color: #fff;
}
ul.menu .list a {
text-decoration: none;
color: #fff;
padding: 17px 0px 17px 45px;
display: block;
height: 100%;
box-sizing: border-box;
}
ul.menu .list a:hover {
/* background-color: #324252; */
transition: 300ms all;
/* color: #09fbd2; */
}
ul.menu .list .items {
height: 0px;
overflow: hidden;
}
ul.menu .list .items a {
padding: 17px;
}
ul.menu .list .items a:hover {
/* background-color: #3f5d79; */
color: #fff;
transition: 300ms all;
}
ul.menu .list:last-child {
border-bottom: none;
}
ul.menu .active:after {
content: "";
font-family: FontAwesome;
position: absolute;
right: 17px;
top: 17px;
padding: 0px 5px;
color: #fff;
}
ul.menu .active > .items {
display: block;
/* background: #23313f; */
padding: 0px;
height: auto;
color: #fff;
clear: both;
/* float: left; */
width: 100%;
}

ul.menu .active > .items li {
padding-left: 25px;
border-bottom: 1px solid #324252;
list-style: none;
font-size: 14px;
}

ul.menu .active > .items li:last-child {
border-color: transparent;
padding-bottom: 0px;
}



/* handlebar */

.tcs__home{
  position: relative;
  top: 90px;
}
.tcs__home ul::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.tcs__home ul{
  scrollbar-width: none; /*mozilla */
  position: relative;
  left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  max-width: 87%;
  align-items: center;
  bottom: 35px;
  overflow-x: auto;
}

.tcs__home ul li{
  
  min-width: 40px;
  width: 100px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  height: 35px;
  text-transform: capitalize;
  color: white;
  margin: 0rem;
  border: 1px solid darkgray;
  border-radius: 30px;
  transition: all .3s ease-out;
  text-decoration: none;
  display: inline-flex;
  text-align: center;
  position: relative;
  font-size: 14px;
  padding: 0 20px;
}
.tcs__home ul li:hover{
  cursor: pointer;
  background-color: #fff;
  color: black;
}


/* .char{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(254, 254, 254);
  border-radius: 30px;
} */
.handle-img {
  width: 400px;
  height: 300px;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 30px 0;
  background-color: #1e2222;
}
.data__container{
  position: relative;
  width: 100%;
}
  
.info-column .title{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: white;
  margin: 0px 0px;
  font-weight: 400;
}

.info-column .desc{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .5px;
  color: #b4b4b8;

}
.info-column .tag{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .5px;
  color: #747678;
  margin-top: 7px;
}


.photo-column {
  position: relative;
  /* padding-left: 2%; */
  left: 3%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2222;
}
.photo-column img{
  object-fit: cover;
  height: 10pc;
  width: 100%;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
}

.info-column {
  justify-content: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 5%;
/* padding-left: 6%; */
/* bottom: 5%; */
background-color: #1e2222;
top: 10px;
}
.picture{
  display: flex;
}
/* .load{
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  height: 52px;
  text-transform: uppercase;
  background-color: rgb(36, 36, 36);
  color: white;
  margin: 0rem;
  border-radius: 30px;
  transition: all .3s ease-out;
  text-decoration: none;
  display: inline-flex;
  text-align: center;
  left: 45%;
  position: relative;
  font-size: 14px;
  padding: 0 20px;
} */

.selected{
  background-color: white;
  color: black !important;
}

.show{
  display: block;
}

.hide{
  display: none;
}


